.par {color:yellow;}

.nav-link {color: blue;}

.thankyou {color: blue;}
.container {background-color:blueviolet}
.paragraph1 {color: yellow;}
.footer {color: yellow}
.container2 {background-color: blueviolet;}